* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.main {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

h1, h3{
    color: #333;
}


.container-input {
    text-align: center;
    background: #00000000;
    border-top: 5px solid #ffffff;
    padding: 10px 0;
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 20px;
    font-weight: normal;
}

/* style 1 */

.inputfile-1+label {
    color: #fff;
    background-color: rgb(56, 145, 228);
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: rgb(56, 145, 228);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#result {
    font-size: 20px;
    color: #555;
}

@media (max-width: 600px) {
    .main {
        padding: 10px;
    }

    canvas {
        max-width: 100%;
        height: auto;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    #result {
        font-size: 16px;
    }
}